/* animacion de la imagen */
show{
    display: flex;
    height: 30rem;
    width: 100%;
}
show img{
    width: 0px;
    flex-grow: 1;
    opacity: 0.8;
    transition: 0.5s;
    object-fit: cover;
}
show img:hover{
    cursor: crosshair;
    opacity: 1;
    filter: contrast(100%);
    width: 70%;
    object-fit: contain;
}

#Portada{
    opacity: 0.5;
    transition: 0.5s;
}
#Portada:hover{
    opacity: 1;
    size: 200px 200px;

}
/* aqui va la animacion del scroll */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #42455a;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #e0ffff;
  }
section:nth-child(2){
  color: #ffffff;
  background: #000000;
} 
section:nth-child(3){
  color: #e0ffff;
}
section:nth-child(4){
  color: #42455a;
  background: #e0ffff;
}
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
