.SignUp{
    border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color:rgba(0,0,0,0);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn_contact{
    border-radius: 20px;
	border: 1px solid #2bceff;
	background-color: #2bceff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    margin: 8px;
	padding: 12px 45px;
    margin-bottom: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}